<!DOCTYPE html>
<html>
  <head>
    <title>HealthTracker</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/css/striped.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content">
      <div class="inner">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/sidebar' %>
  </body>
</html>
